@model Sample.ViewModel.CompositeViewModel

@{
    ViewData["Title"] = "ViewDepartment";
    Layout = "_LayoutActions";
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}



<div class="row justify-content-center m-3">

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success">
            @successMessage
        </div>
    }

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger">
            @errorMessage
        </div>
    }

    <div class="col-md-8 m-3 card">
        <p class="fw-bold row justify-content-center fs-4">View All Department</p>

        <table class="table border border-1 rounded-2">
            <thead >
                <tr>
                    <th class="Col01">Department ID</th>
                    <th class="Col02">Department Name</th>
                    <th class="Col03">Options</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var department in Model.Departments)
                    {
                        <tr>
                            <td>@department.DepartmentId</td>
                            <td>@department.Name</td>

                            <td>

                                <a class="btn btn-sm border-1 btn-dark text-light fw-bold " href="/Department/EditDepartment?DepatmentId=@department.DepartmentId">Edit
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-sm border btn-info text-dark fw-bold" href="/Department/DeleteDepartment?DepatmentId=@department.DepartmentId">Delete
                                    <i class="fa fa-delete-left"></i>
                                </a>
                               
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
   


</div>
