@model Sample.ViewModel.CompositeViewModel

@{
    ViewData["Title"] = "ViewDepartment";
    Layout = "_LayoutCustome";
}

<h1>ViewDepartment</h1>

<div class="row justify-content-center m-3">
    <table class="table">
        <thead>
            <tr>
                <th class="Col01">Department ID</th>
                <th class="Col02">Department Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var department in Model.Departments)
                {
                    <tr>
                        <td>@department.DepartmentId</td>
                        <td>@department.Name</td>

                        <td>
                            <!-- Links for Edit and Delete actions -->
                            <a asp-action="Edit" asp-route-id="@department.DepartmentId">Edit</a>
                            <a asp-action="Delete" asp-route-id="@department.Name">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


</div>
